<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User has many life_measures -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Life_measures
      </li>

      <% @user.life_measures.each do |life_measure| %>
        <li class="list-group-item">
          <a href="/life_measures/<%= life_measure.id %>">
            <%= life_measure.goal_name %>
          </a>
          <a href="/life_measures/<%= life_measure.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/life_measures/<%= life_measure.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_life_measure/<%= life_measure.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_life_measure" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for goal_name -->
      <div class="form-group">
        <label for="goal_name" class="control-label">
          Goal name
        </label>

        <input type="text" id="goal_name" name="goal_name" placeholder="Goal name" class="form-control" value="">
      </div>

      <!-- Label and input for target_frequency -->
      <div class="form-group">
        <label for="target_frequency" class="control-label">
          Target frequency
        </label>

        <input type="text" id="target_frequency" name="target_frequency" placeholder="Target frequency" class="form-control" value="">
      </div>

      <!-- Label and input for time_span -->
      <div class="form-group">
        <label for="time_span" class="control-label">
          Time span
        </label>

        <input type="text" id="time_span" name="time_span" placeholder="Time span" class="form-control" value="">
      </div>

      <!-- Label and input for start_date -->
      <div class="form-group">
        <label for="start_date" class="control-label">
          Start date
        </label>

        <input type="text" id="start_date" name="start_date" placeholder="Start date" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= @user.id %>">

      <!-- Label and input for times_completed -->
      <div class="form-group">
        <label for="times_completed" class="control-label">
          Times completed
        </label>

        <input type="text" id="times_completed" name="times_completed" placeholder="Times completed" class="form-control" value="">
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Life Measure
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
